# PASTAS
node_modules
backend/api/venv
.venv
others
backend/api/__pycache__
backend/api/routes/__pycache__
backend/api/utils/__pycache__

# ARQUIVOS
.env
start.sh
setup.sh

# TEXTOS
requirements.txt
tree.txt
arvore_de_arquivos.txt
notes/erros.txt